<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{title}} | {{site.title}}</title>

        <!-- Bootstrap  -->
        <link rel="stylesheet" href="{{assets}}/css/bootstrap.min.css">

        <!-- Custom site styles -->
        <link href="{{assets}}/css/site.css" rel="stylesheet">

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://code.jquery.com/jquery.js"></script>

        <!-- Bootstrap -->
        <script src="{{assets}}/js/bootstrap.min.js"></script>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container">
            {{> navbar }}

            <div class="container" role="main">
                {{> body }}
            </div>
        </div>

        <!-- Custom site scripts -->
        <script src="{{assets}}/js/site.js"></script>

        <!-- Mako client -->
        <script data-main="http://localhost:3000/client/mako.min.js" src="http://localhost:3000/client/require.min.js"></script>

        <!--
        <script src="http://localhost:3000/client/mako.min.js"></script>
        -->
    </body>
</html>
